body{
    background-color: thistle;
    background-image: url("lucifer.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: rgb(72, 209, 204);
    font-size: 2em;
}
a:hover{
    color: rgb(0, 250, 154);
}
a:active{
    color: rgb(199, 21, 133);
}
a:visited{
    color: rgb(241, 26, 26);
}
