*{
    box-sizing: border-box;
}
body{
    font-family:  Helvetica, sans-serif;
    font-size: 120%;
}
.container{
    margin: 0px;
    max-width: 100%;
    padding: 0%;
}
.col{
    margin-left: 2.5%;
    background-color: skyblue;
}
#nav-bar{
    background-color: skyblue;
    border-radius: 0%;
    border: 2px solid black;
}
li{
    border: 1px solid black;
}
h1{
    text-align: center;
    font-size: 1.75em;
    margin-top: 20px;
    margin-bottom: 20px;
}


p{
    padding:0px 12px;
    overflow: auto;
}
p.title{
    font-size: 1.25em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}

  